
page {
  height: 100%;
  width: auto;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  height: 100%;
  position: relative;
}
page,
page,
._div,
._span,
applet,
._object,
._iframe,
._h1,
._h2,
._h3,
._h4,
._h5,
._h6,
._p,
._blockquote,
._pre,
._a,
._abbr,
acronym,
._address,
big,
._cite,
._code,
._del,
._dfn,
._em,
._img,
._ins,
._kbd,
._q,
._s,
._samp,
._small,
strike,
._strong,
._sub,
._sup,
tt,
._var,
._b,
._u,
._i,
center,
._dl,
._dt,
._dd,
._ol,
._ul,
._li,
._fieldset,
._form,
._label,
._legend,
._caption,
._tbody,
._tfoot,
._thead,
._tr,
._th,
._td,
._article,
._aside,
._canvas,
._details,
._embed,
._figure,
._figcaption,
._footer,
._header,
._menu,
._nav,
._output,
._ruby,
._section,
._summary,
._time,
._mark,
._audio,
._video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}
page {
  font-family: Arial, "STHeiti", Helvetica, sans-serif;
  background: #efefef;
  font-size: 14px;
  color: #444 !important;
  width: 100%;
  overflow-x: hidden;
  -webkit-overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}
._table {
  border-collapse: collapse;
  border-spacing: 0;
}
._fieldset,
._img {
  border: 0;
}
._legend {
  display: none;
}
._ol,
._ul {
  list-style: none;
}
._caption,
._th {
  text-align: left;
}
._h1,
._h2,
._h3,
._h4,
._h5,
._h6 {
  font-size: 100%;
  font-weight: normal;
}
._q:before,
._q:after {
  content: "";
}
._abbr,
acronym {
  border: 0;
}
._a {
  text-decoration: none;
}
page {
  -webkit-text-size-adjust: none;
  width: 100%;
  height: 100%;
}
._input[type="text"],
._input[type="button"],
._input[type="submit"],
._input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0;
}
page,
page {
  height: 100%;
  width: auto;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
}
.bg {
  width: 100%;
  height: 100%;
}

.book-home[data-v-6c562274] {
  margin-top: 23px;
}
